<div class="container">
  <form class="jumbotron">
      <div class="form-group">
        <label for="title">Nome:</label>
        <input name="title" #Nome class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Cognome:</label>
        <input name="link" #Cognome class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Indirizzo:</label>
        <input name="link" #Indirizzo class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Telefono:</label>
        <input name="link" #Telefono class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Email:</label>
        <input name="link" #Email class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Data Prenotazione:</label>
        <input name="link" #Data class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Ora Prenotazione:</label>
        <input name="link" #Ora class="form-control">
      </div>
    <button (click)="makeCompactRequest(Nome, Cognome, Indirizzo, Telefono, Email, Data, Ora)" class="btn btn-primary">
      Prenota
    </button>
  </form>
</div>

<h3>Lista Prenotazioni:</h3>

<div class="container" *ngFor="let art of prenotazione">
  <app-prenotazione  [prenotazione]="art"> </app-prenotazione>
  <button class="btn btn-primary" (click)="onClick(art)" > dettagli </button>
  <hr>
</div>

<div class="container">
    <app-dettagli [selectedPren] = "selectedPren" ></app-dettagli>
</div>